*.java~
.DS_Store
/botto/mnf.botto
ignore/*
botto/testing/chromedriver.exe
botto/phantomjsdriver.log
*.png
/botto/testMain.java
/botto/testMain.class
/botto/testModel.java
/botto/testModel.class
/botto/blabla.bla
/botto/PluginTemplate.java
/botto/testdec.java
/botto/testdec.class
